[project]
	description = Web API with the mongodb
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amshekar
[access "refs/for/refs/*"]
	read = group user/amshekar
	push = group user/amshekar
	label-Code-Review = -2..+2 group user/amshekar
	label-Verified = -1..+1 group user/amshekar
	rebase = group user/amshekar
	removeReviewer = group user/amshekar
	submit = group user/amshekar
[access "refs/heads/*"]
	read = group user/amshekar
	create = group user/amshekar
	push = +force group user/amshekar
	pushMerge = group user/amshekar
[access "refs/tags/*"]
	push = group user/amshekar
	push = +force group user/amshekar
